@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #e9e2d5;
  /* background-color: white; */
}

.main_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 4vh;
}

.nav_kriste {
  font-size: 4vh;
  text-decoration: none;
  color: black;
  padding: 4vh 0 1vh 0;

  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.5vw;
}

.main_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.nav_link {
  text-decoration: none;
  color: black;
  padding: 2vh;
  font-size: 2vh;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.2vw;
}

.art_container_container {
  width: 100%;
  padding: 0 3vw 0 3vw;
}

.second_third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  width: 40%;
}

.art_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* .first_mobile,
.second_mobile,
.third_mobile {
  color: white;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.6vw;
  text-align: center;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.723);
  white-space: nowrap;
  font-weight: 200;
  padding: 0;
  margin: 0;
  font-size: 3vh;
  text-decoration: none;
} */

/* .first_mobile:hover,
.second_mobile:hover,
.third_mobile:hover {
  transition: font-size 0.3s ease;
  cursor: pointer;
  font-size: 4vh;
  text-shadow: 0 0 10px #e9e7e3;
} */

.viewartwork {
  height: 100%;
  width: 100%;
}

.viewartwork_mobile {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.first,
.second,
.third {
  color: white;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.6vw;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.723);
  white-space: nowrap;
  font-weight: 350;
  padding: 0;
  margin: 0;
  font-size: 4vh;
  text-decoration: none;
}

/* 
.first:hover,
.second:hover,
.third:hover {
  transition: font-size 0.3s ease;
  cursor: pointer;
  font-size: 4.5vh;
} */

.home_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 20px rgb(0, 0, 0);
  font-size: 4vh;
}

.home_text:hover {
  transition: font-size 0.3s ease;
  font-size: 4.5vh;
}

.art_first {
  position: relative;
  object-fit: cover;
  overflow: hidden;
  height: 94vh;
  width: 60%;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.art_second {
  position: relative;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 45vh;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.art_third {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 45vh;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  height: 15vh;
  width: 100%;
  padding: 7vh 0 0 0;
  margin: 0;
}

.footer_main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
}

.footer_words {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.25vw;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
  width: 100%;
}

.insta_img {
  object-fit: contain;
  height: 3vh;
  width: 3vh;
}

.gmail_logo {
  object-fit: contain;
  height: 3vh;
  width: auto;
  background-color: white;
  padding: 1%;
  border-radius: 10px;
}

h1 {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.5vw;
}

img {
  width: 100%;
  height: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10vw 5vw 10vw;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

.about_p {
  font-family: "Roboto Mono", monospace;
  line-height: 170%;
  text-align: center;
  padding: 2vw 0 2vw 0;
}

.about_p_one_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.about_p_one {
  text-align: center;
  width: 100%;
  font-size: 6vh;
  font-family: "Roboto Mono", monospace;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}


.kristebasement_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.kristebasement {
  height: 50vh;
  width: auto;
  object-fit: contain;
}

.main {
  padding: 0 10vw 0 10vw;
}

.works_art_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  gap: 1vw;
  padding: 0 0 0 0;
  margin: 0;
}

.art {
  position: relative;
  display: inline-block;
  object-fit: cover;
  height: 46vh;
}

.art::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9e2d5;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.art:hover::after {
  opacity: 1;
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0;
  transition: opacity 0.1s ease;
  height: 100%;
  width: 10vw;
}

.text {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.2vw;
  font-size: 1vw;
  padding: 0;
  margin: 0;
  font-weight: 200;
  text-align: center;
  color: black;
  white-space: nowrap;
}

.art:hover .text_container {
  opacity: 1;
}

.text_container_mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0;
  transition: opacity 0.1s ease;
  height: 100%;
  width: 10vw;
}

.text_mobile {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.2vw;
  font-size: 1.5vh;
  padding: 0;
  margin: 0;
  font-weight: 200;
  text-align: center;
  color: black;
  white-space: nowrap;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3vw;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 3vh;
  margin: 0;
  padding: 0;
}

.contact_me {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 3vh;
  margin: 0 0 0 0;
  padding: 0;
  height: 4vw;
}

.contact_main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photo_contact {
  height: 50vh;
  width: 30vw;
  object-fit: contain;
}

.contact_bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1vw;
}

.gmail_contact {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.2vw;
  margin: 0;
  padding: 0;
  font-size: 1.3vw;
}

.contact_insta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.gmail_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.insta_word {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.2vw;
  margin: 0;
  padding: 0;
  font-size: 1.3vw;
}

@media (max-width: 600px) {
  .main_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .nav_background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 4vh;
  }

  .nav_kriste {
    text-align: center;
    font-size: 4vh;
    text-decoration: none;
    color: black;
    padding: 4vh 0 1vh 0;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 0.5vw;
  }

  .main_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
  }

  .nav_link {
    text-decoration: none;
    color: black;
    padding: 2vh;
    font-size: 2vh;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 0.2vw;
  }

  .nav_background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 4vh;
  }

  .art_container_container {
    width: 100%;
    padding: 0 3vw 0 3vw;
  }

  .second_third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    width: 100%;
  }

  .art_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  /* .first_mobile,
  .second_mobile,
  .third_mobile {
    color: white;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 0.6vw;
    text-align: center;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.723);
    white-space: nowrap;
    font-weight: 200;
    padding: 0;
    margin: 0;
    font-size: 3vh;
    text-decoration: none;
  } */

  /* .first_mobile:hover,
  .second_mobile:hover,
  .third_mobile:hover {
    transition: font-size 0.3s ease;
    cursor: pointer;
    font-size: 4vh;
    text-shadow: 0 0 10px #e9e7e3;
  } */

  .viewartwork {
    height: 100%;
    width: 100%;
  }

  .viewartwork_mobile {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .first,
  .second,
  .third {
    color: white;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 0.6vw;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.723);
    white-space: nowrap;
    font-weight: 350;
    padding: 0;
    margin: 0;
    font-size: 4vh;
    text-decoration: none;
  }

  /* 
  .first:hover,
  .second:hover,
  .third:hover {
    transition: font-size 0.3s ease;
    cursor: pointer;
    font-size: 4.5vh;
  } */

  .home_text:hover {
    transition: none;
  }

  .home_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px 20px rgb(0, 0, 0);
    color: white;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 0.6vw;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.723);
    white-space: nowrap;
    font-weight: 350;
    padding: 0;
    margin: 0;
    font-size: 3vh;
    text-decoration: none;
  }

  .art_first {
    position: relative;
    object-fit: cover;
    overflow: hidden;
    height: 94vh;
    width: 60%;
    padding: 0;
    margin: 0;
    border-radius: 5px;
  }

  .art_second {
    position: relative;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 45vh;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 5px;
  }

  .art_third {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 45vh;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 5px;
  }

  .art_first,
  .art_second,
  .art_third {
    position: relative;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 3px;
    height: 20vh;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    height: 12vh;
    width: 100%;
    padding: 5vh 0 0 0;
    margin: 0;
  }

  .footer_main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
  }

  .footer_words {
    font-family: "Roboto Mono", monospace;
    letter-spacing: 0.25vw;
    padding: 0;
    margin: 0;
    white-space: nowrap;
  }
  .socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    width: 100%;
  }

  .insta_img {
    object-fit: contain;
    height: 3vh;
    width: 3vh;
  }

  .gmail_logo {
    object-fit: contain;
    height: 3vh;
    width: auto;
    background-color: white;
    padding: 1%;
    border-radius: 10px;
  }

  h1 {
    font-family: "Roboto Mono", monospace;
    letter-spacing: 0.5vw;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 15px 20px 15px;
    padding: 8vw 10vw 8vw 10vw;
    /* background-color: rgb(199, 211, 74); */
    background-color: #e5d5b8;
    border-radius: 10px;
    /* box-shadow: 0px 0px 20px #e5d5b8; */
  }

  h2 {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
  }

  .about_p {
    font-family: "Roboto Mono", monospace;
    line-height: 170%;
    text-align: center;
    padding: 2vw 0 2vw 0;
  }


.about_p_one_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

  .about_p_one {
    text-align: center;
    width: 100%;
    font-size: 3vh;
    font-family: "Roboto Mono", monospace;
    padding: 0;
    margin: 0;
  }

  .kristebasement_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .kristebasement {
    height: auto;
    width: 80vw;
    object-fit: contain;
    border-radius: 5px;
  }

  .main {
    padding: 0 10vw 0 10vw;
  }

  .art {
    position: relative;
    display: inline-block;
    object-fit: cover;
    height: 40vh;
    padding: 2vh 0 0 0;
  }

  .art::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e9e2d5;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .art:hover::after {
    opacity: 1;
  }

  .text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0;
    transition: opacity 0.1s ease;
    height: 100%;
    width: 10vw;
  }

  .text {
    font-family: "Roboto Mono", monospace;
    letter-spacing: 0.2vw;
    font-size: 5vw;
    padding: 0;
    margin: 0;
    font-weight: 200;
    text-align: center;
    color: black;
    white-space: nowrap;
  }

  .art:hover .text_container {
    opacity: 1;
  }

  .works_art_container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    gap: 1vh;
    padding: 0 0 0 0;
    margin: 0;
  }

  .art_mobile::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e9e2d5;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .art_mobile:hover::after {
    opacity: 1;
  }

  .text_container_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0;
    transition: opacity 0.1s ease;
    height: 100%;
    width: 10vw;
  }

  .text_mobile {
    font-family: "Roboto Mono", monospace;
    letter-spacing: 0.2vw;
    font-size: 1.5vh;
    padding: 0;
    margin: 0;
    font-weight: 200;
    text-align: center;
    color: black;
    white-space: nowrap;
  }

  .art_mobile:hover .text_container_mobile {
    opacity: 1;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3vw;
  }

  h3 {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 3vh;
    margin: 0;
    padding: 0;
  }

  .contact_me {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 3vh;
    margin: 0 0 0 0;
    padding: 0;
    height: 4vw;
  }

  .contact_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .photo_contact {
    height: 50vh;
    width: 30vw;
    object-fit: contain;
  }

  .contact_bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vw;
  }

  .gmail_contact {
    font-family: "Roboto Mono", monospace;
    letter-spacing: 0.2vw;
    margin: 0;
    padding: 0;
    font-size: 1.3vw;
  }

  .contact_insta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .gmail_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .insta_word {
    font-family: "Roboto Mono", monospace;
    letter-spacing: 0.2vw;
    margin: 0;
    padding: 0;
    font-size: 1.3vw;
  }
}
