@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: #e9e2d5;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /* position: fixed; */
}

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.art_container_two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.art_text {
  font-size: 1.75vh;
  font-style: italic;
  font-weight: 500;
}

.art_text_container {
  display: flex;
  width: 23vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: #f43c34;
  padding-top: 1vh;
}

.art_text_styling_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.art_text_styling_two {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.art_background {
  width: 23vw;
  height: 23vw;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop_title_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop_title_container_two {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 0 0 0;
}

.shop_title {
  font-size: 4vh;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.shop_container {
  padding: 20vh 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.shop_item {
  width: 23vw;
  /* height: 23vw; */
  object-fit: contain;
}

.shop_row_one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  height: 100%;
  padding: 5vh 10vh 0;
}

.shop_row_two {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5vh;
}

.one {
  background-color: #d76e51;
}

.two {
  background-color: #466baf;
}

.three {
  background-color: #b48598;
}

.four {
  background-color: #c76a67;
}

.five {
  background-color: #c9688d;
}

.six {
  background-color: #bc584d;
}

.seven {
  background-color: #e8a264;
}

.eight {
  background-color: #959a61;
}

.nine {
  background-color: #9c5b92;
}

.ten {
  background-color: #7e8172;
}

.eleven {
  background-color: #a58793;
}

.art_piece {
  object-fit: contain;
  width: 16vw;
  height: 20vw;
  z-index: 2;
}

.about-me {
  margin-top: 5vh;
  font-size: 2vh;
  font-weight: 400;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2vh;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
  /* overflow-y: auto; */
  position: absolute;
  width: 100%;
}

.art_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav_background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
  width: 100%;
  font-size: 8vh;
  margin-top: 3.5vh;
}

.nav_link {
  text-decoration: none;
  color: #f5431c;
  padding: 2vh;
  font-size: 2vh;
  font-weight: 400;
  letter-spacing: 0.2vw;
  text-decoration: none;
}

/* .nav_link:hover {
  color: #ffee83;
}*/

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 3vw;
  margin: 5vh;
  padding-bottom: 4vh;
}

.email_container,
.instagram_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

.logo_contact {
  object-fit: contain;
  height: 3vh;
  width: auto;
  margin: 0;
  padding: 0;
}

.navbar_line_top {
  border-bottom: 1px solid black;
  position: absolute;
  width: 87%;
  z-index: 1000;
  top: 11vh;
  left: 11.2vh;
}

.kristelogo {
  height: 7vh;
  margin-top: 2vh;
  width: auto;
  object-fit: contain;
}

.home_image_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.home_kriste_name_container_container {
  width: 35vw;
  height: 100vh;
}

.home_kriste_name_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  z-index: 1000;
  font-size: 8vh;
  height: 100%;
  padding-bottom: 20vh;
}

.home_kriste_name {
  margin-right: 1.5vw;
  color: black;
  font-size: 4.5vw;
}

.home_aukstuolis_name_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  z-index: 3;
  font-size: 8vh;
  height: 100%;
  padding-bottom: 20vh;
}

.home_aukstuolis_name {
  margin-left: 1.5vw;
  color: white;
  font-size: 4.5vw;
}

.art_container_container {
  width: 65vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  object-fit: contain;
  position: relative;
}

.navbar_line_side_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
}

.works_container {
  height: 200vh;
  width: 100%;
}

.nav_maincontainer {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.navbar_line_side {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  /* height: 200vh; */
  height: 100%;
  color: #f5431c;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 6.5vh;
  padding-left: 2vh;
  padding-bottom: 12vh;
  border-left: 1px solid black;
  font-size: 2vh;
  font-weight: 400;
}

.email_copied {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 3px;
  z-index: 1000;
  transform: translate(-50%, -100%);
}

.logo_contact:hover {
  cursor: pointer;
}

.email_footer,
.instagram_footer {
  font-size: 1vw;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15vw 0 15vw;
  padding: 3vh 10vw 0 10vw;
  justify-content: space-between;
}

.paintbrush {
  height: 4vh;
  width: auto;
  object-fit: contain;
}

.about_container {
  height: 120vh;
  width: 100%;
}

.about_text {
  line-height: 170%;
  text-align: center;
  padding: 0;
}

.kristebasement {
  padding-top: 4vh;
  height: 50vh;
  width: auto;
  object-fit: contain;
  border-radius: 5px;
}

.main {
  padding: 0 3vw 0 3vw;
  display: flex;
  flex-direction: row;
}

.works_art_container_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  width: 30%;
  height: 100%;
  padding: 10vh 0 0 0;
  margin: 10vh 0 0 5vw;
}

.works_art_container_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  width: 30%;
  height: 100%;
  padding: 23vh 0 0 0;
  margin: 10vh 0 0 5vw;
}

.works_art_container_three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  width: 30%;
  height: 100%;
  padding: 5vh 0 0 0;
  margin: 8vh 0 0 5vw;
}

.art {
  position: relative;
  height: 46vh;
}

.art_img {
  object-fit: cover;
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0;
  transition: opacity 0.1s ease;
  height: 42vh;
  width: 42vh;
}

.text {
  letter-spacing: 0.2vw;
  font-size: 1vw;
  padding: 0;
  margin: 0;
  font-weight: 200;
  text-align: center;
  color: black;
  white-space: nowrap;
}

.art:hover .text_container {
  opacity: 1;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin: 15vh 5vw 5vh 8vw;
  height: 100vh;
}

.nav_background_home {
  position: absolute;
  width: 100%;
  top: 0;
  font-size: 8vh;
  margin-top: 3.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 5000;
}

.nav_links_container_one_home {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 35%;
  z-index: 1000;
}

.nav_links_container_two_home {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 1001;
  width: 65%;
}

.nav_link_home {
  text-decoration: none;
  color: #f5431c;
  padding: 2vh;
  font-size: 2vh;
  font-weight: 400;
  letter-spacing: 0.2vw;
  margin-right: 0;
  margin-left: 0;
}

.nav_link_two_home {
  text-decoration: none;
  color: white;
  padding: 2vh;
  font-size: 2vh;
  font-weight: 300;
  letter-spacing: 0.2vw;
  z-index: 5000;
  margin-right: 0;
  margin-left: 0;
  text-decoration: none;
}

.navbar_line_top_home {
  border-bottom: 1px solid black;
  position: absolute;
  width: 87%;
  z-index: 1000;
  top: 11vh;
  left: 11.2vh;
}

.navbar_line_side_container_home {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 240vh;
}

.navbar_line_side_home {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  height: 100%;
  color: #f5431c;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 6.5vh;
  padding-left: 2vh;
  padding-bottom: 12vh;
  border-left: 1px solid black;
  font-size: 2vh;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .art_container_two {
    flex-direction: column;
  }

  .navbar_line_side_container {
    display: none;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5vw 0 5vw;
    padding: 2vh 10vw 0 10vw;
    justify-content: space-between;
  }

  .kristebasement {
    height: 50vh;
    width: auto;
    object-fit: contain;
    border-radius: 5px;
  }

  .main {
    padding: 0 3vw 0 3vw;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    margin: 10vh 0 0vh 0;
  }

  .works_art_container_one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vh;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .works_art_container_two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vh;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .works_art_container_three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vh;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .art_text_container {
    display: flex;
    width: 80vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color: #f43c34;
    padding-top: 1vh;
  }

  .art_background {
    width: 80vw;
    height: 80vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .art_piece {
    object-fit: contain;
    width: 55vw;
    height: 70vw;
    z-index: 2;
  }

  .nav_background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3.5vh;
    gap: 0;
  }

  .nav_link {
    text-decoration: none;
    color: #f5431c;
    padding: 2vh;
    font-size: 2vh;
    font-weight: 400;
    letter-spacing: 0.2vw;
    text-decoration: none;
  }

  .home_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 13vh;
    width: 100%;
    height: 100vh;
  }

  .art_container_container {
    margin-top: 5vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: static;
  }

  .home_aukstuolis_name_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 3;
    font-size: 8vh;
    height: 100%;
  }

  .home_image_container {
    /* width: 100%;
    height: 100%; */
    margin-top: 10vh;
  }

  .navbar_line_top {
    border-bottom: 1px solid black;
    position: absolute;
    width: 80vw;
    z-index: 1000;
    top: 11vh;
    left: 0;
    margin: 0 10vw 0 10vw;
  }

  .navbar_line_side_container_home {
    display: none !important;
  }

  .nav_background_home {
    position: absolute;
    width: 100%;
    top: 0;
    font-size: 8vh;
    margin-top: 3.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 5000;
  }

  .nav_links_container_one_home {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    z-index: 1000;
  }

  .nav_links_container_two_home {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 1001;
    width: 100%;
  }

  .navbar_line_top_home {
    border-bottom: 1px solid black;
    position: absolute;
    width: 80vw;
    z-index: 1000;
    top: 11vh;
    left: 0;
    margin: 0 10vw 0 10vw;
  }

  .home_columbus_text {
    font-size: 2vh;
    font-weight: 400;
    color: #f5431c;
    margin: 2vh 10vw 0vh 10vw;
    font-style: italic;
    letter-spacing: 0.2vw;
  }

  .navbar_line_top_home_two {
    border-bottom: 1px solid black;
    width: 80vw;
    z-index: 1000;

    margin: 5vh 10vw 0 10vw;
  }

  .nav_link_two_home {
    text-decoration: none;
    color: #f5431c;
    padding: 2vh;
    font-size: 2vh;
    font-weight: 400;
    letter-spacing: 0.2vw;
    z-index: 5000;
    margin-right: 0;
    margin-left: 0;
    text-decoration: none;
  }

  .home_image_container {
    width: 100%;
    height: 40%;
    padding: 0 5vw 0 5vw;
    object-fit: cover;
    position: static;
  }

  .home_kriste_name_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 10%;
    border: 1px solid green;
  }

  .home_kriste_name {
    margin-right: 1.5vw;
    color: black;
    font-size: 10vw;
  }

  .email_footer,
  .instagram_footer {
    font-size: 3vw;
    font-weight: 300;
    text-decoration: none;
    color: black;
  }

  .instagram_footer {
    display: none !important;
  }

  .email_footer {
    display: none !important;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin: 5vh 17vw 2vh 17vw;
    width: 70%;
    flex: 1;
  }

  .logo_contact {
    object-fit: contain;
    height: 3.5vh;
    width: auto;
    margin: 0;
    padding: 0;
  }
}
