@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  box-sizing: border-box;
}

.horizontal-scroll-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vw;
  width: 100vh;
  transform: rotate(-90deg) translate3d(0, -100vh, 0);
  transform-origin: right top;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 38.5vw 0 0 0;
  height: 100vw;
  perspective: 1px;
  transform-style: preserve-3d;
  border: 1px solid red;
}
.img-wrapper {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  transform-origin: 50% 50%;
  transform: rotate(90deg) translateZ(0.1px) scale(0.9) translateX(0px)
    translateY(-3vh);
  transition: 1s;
}

.external {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
  height: 100vh;
  background-image: url("https://i.ibb.co/XCytLvM/Kriste-Website-background-asset.webp");
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.four {
  /* border: 1px solid blue; */
}

.art {
  object-fit: contain;
  height: 55vh;
  border: 1px solid blue;
}
